.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 1;
  background-color: $background-color;
  color: $text-color;
  font-weight: 400;
}

.navbar {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav_brand {
    background-color: $text-color;
    color: $btn-bg;
    padding: 5px 10px;
    transform: rotateZ(-4deg);
  }

  @include lg {
    width: 80%;
  }
}

.nav_items {
  background-color: $background-color;
  position: fixed;
  top: 80px;
  right: -100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 80px);
  text-align: center;
  z-index: 999;
  transition: 0.3s;

  @include md {
    position: static;
    right: 0;
    height: 8vh;
    justify-content: flex-end;
    flex-direction: row;
  }
}

.nav_items.active {
  right: 0;
}

.link {
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $hover-color;
  }
}

.mobile_menu-icon {
  cursor: pointer;
  padding: 0 1rem;
  color: $text-color;

  @include md {
    display: none;
  }
}
