.card_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  .event-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .event-details {
    background-color: yellow;
    padding: 5px 10px;
    transform: rotateZ(-3deg);
    position: relative;
    top: -10px;
    left: -10px;
    width: 105%;
    height: 120px;
    transition: transform 0.2s ease-in;

    &:hover {
      transform: rotateZ(0deg);
    }

    .btn {
      background-color: green;
      border: none;
      outline: none;
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 5px;
      color: white;
      position: absolute;
      right: 10px;
      bottom: 10px;
      transform: rotateZ(-2deg);
    }
  }
}
