//Colors theme

$hover-color: #02b4af;

$background-color: #c6e0cf;
$time-date-bg: #78e89e;
$text-color: #0a014a;
$btn-bg: #ffe275;
$card-bg: #e3eae6;
$pink: #ffc0cb;

//Utility classes
.app__container {
  margin-top: 100px;
  margin-bottom: 40px;
}
